@font-face {
  font-family: "mckloud.tempest";
  src: url('./r3assets/mckloud.tempest.ttf') format('truetype'); /* Safari, Android, iOS */
}
body h1{
  text-align: left;
  margin: 0;
  padding: 0;
}

body{
  /* background: #e3e3e3; */
/* background: rgb(63,94,251); */
font-family: "mckloud.tempest", sans-serif;
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
  overflow: hidden;
  margin: 0;
  padding: 0;
  text-align: center;
}

body audio{
  display: none;
}

#container{
  margin-top: 10%;
  display: inline-block;
}
canvas{
  /* background: orange; */
  background: radial-gradient(circle, rgba(131,58,180,1) 0%, rgba(253,98,48,1) 54%, rgba(10,69,82,0.6559217436974789) 70%, rgba(252,176,69,1) 100%);
  border: 1px solid #181818;
}